.game-wrapper{
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 6px;

    img{
        width: 150px;
        height: 150px;
        position: relative;
        margin: 5px;
        
    }
}